<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>
<div style="background-image: url('/img/books.jpg'); background-size: 100% 100%; height:750px; width:100%">

<nav th:replace="layouts :: navbar"></nav>

    <div class="container" style="margin-top:50px; font-weight:600">
    <div class="col-md-6">
    <table class='table borderless'>
        <thead>
        <tr>

        </tr>
        </thead>
        <tbody>
        <tr th:each="aBook : ${books}">
            <td>
                <!--                <canvas id="viewport" width="40px" height="50px">-->
                <img th:src="${aBook.fileUrl != null ? aBook.fileUrl : 'https://i.pinimg.com/236x/dc/e7/85/dce785f0a70eedad13da67639ae6c5e7--the-notebook-code-geass-fondos.jpg'}" style="width: 40px; height:50px">
                <!--                </canvas>-->
            </td>
            <td th:text="${aBook.title}"></td>
            <td th:text="${aBook.author.fullName}"></td>
            <td th:text="${aBook.genre}"></td>

        </tr>
        </tbody>
    </table>
    </div>

    </div>
<!--</div>-->
</body>