<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/formatting.css}">
<!---->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--    -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <link rel="stylesheet" th:href="@{/css/formatting.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>


<nav th:fragment = "navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> My Books</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">All books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/bookstage/reading}">Currently reading</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/bookstage/read}">Read</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/bookstage/wanttoread}">Want to read</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/stage}">Overview</a>
            </li>

            <li>
                <form role="search" style="padding-left: 600px; height:20px;">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" height="28px">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span> <i class="fal fa-search" style="color:white; font-size:25px; font-family: 'FontAwesome'; font-weight: normal;
  font-style: normal" ></i> </span>
                        </button>
                   </div>
                </div>
            </form>
            </li>
            <li>
                <div class="input-group-btn" style="height:20px">
                   <a th:href="@{/books/new}"> <button type="submit" class="btn btn-default">
                            <span> <i class="fas fa-book" style="color:#ff1493; font-size:25px; font-family: 'FontAwesome'; font-weight: normal;
  font-style: normal"> </i> </span>
                   </button></a>
                </div>
            </li>

        </ul>
    </div>
</nav>



</html>