<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>
<body>

<div style="background-image: url('img/home1.jpg'); background-size: 100% 100%; height:750px; width:100%">
<nav th:replace="layouts :: navbar"></nav>


<div class="container" style="margin-top: 100px; font-weight: 600">

    <div class="col-md-10">
    <table class='table borderless'>
<!--        <thead>-->
<!--        <tr>-->

<!--        </tr>-->
<!--        </thead>-->
        <tbody>

        <tr th:each="aBook : ${books}">
            <td hidden th:text="${aBook.id}"></td>
            <td>
<!--                <canvas id="viewport" width="40px" height="50px">-->
                <img th:src="${aBook.fileUrl != null ? aBook.fileUrl : 'https://images-na.ssl-images-amazon.com/images/I/41IqSM+Dh2L._SX331_BO1,204,203,200_.jpg'}" style="width: 40px; height:50px">
<!--                </canvas>-->
            </td>

            <td th:text="${aBook.title}"></td>
            <td th:text="${aBook.author.fullName}"></td>
            <td th:text="${aBook.genre}"></td>
            <td th:text="${aBook.stage.displayValue}"></td>
            <td th:number="${aBook.stars}" style="font-family: 'FontAwesome'; font-weight: normal; color:#DCDCDC;">

                <div th:switch = "${aBook.stars}">
                    <span style="color:rgb(255, 215, 0)" th:case="5">
                        <i class="fal fa-star"></i><i class="fal fa-star"></i><i class="fal fa-star"></i><i class="fal fa-star"></i><i class="fal fa-star"></i>
                    </span>
                    <span th:case="4">
                        <i style="color:rgb(255, 215, 0)" class="fal fa-star"></i><i style="color:rgb(255, 215, 0)" class="fal fa-star"></i><i style="color:rgb(255, 215, 0)" class="fal fa-star"></i><i style="color:rgb(255, 215, 0)" class="fal fa-star"></i><i class="fal fa-star"></i>
                    </span>
                    <span th:case="3">
                        <i style="color:rgb(255, 215, 0)" class="fal fa-star"></i><i style="color:rgb(255, 215, 0)" class="fal fa-star"></i><i style="color:rgb(255, 215, 0)"  class="fal fa-star"></i><i class="fal fa-star"></i><i class="fal fa-star"></i>
                    </span>
                    <span th:case="2">
                        <i style="color:rgb(255, 215, 0)" class="fal fa-star"></i><i style="color:rgb(255, 215, 0)" class="fal fa-star"></i><i class="fal fa-star"></i><i class="fal fa-star"></i><i class="fal fa-star"></i>
                    </span>
                    <span th:case="1">
                        <i style="color:rgb(255, 215, 0)" class="fal fa-star"></i><i class="fal fa-star"></i><i class="fal fa-star"></i><i class="fal fa-star"></i><i class="fal fa-star"></i>
                    </span>
                    <span style="color:#DCDCDC" th:case="*">
                        <i class="fal fa-star"></i><i class="fal fa-star"></i><i class="fal fa-star"></i><i class="fal fa-star"></i><i class="fal fa-star"></i>
                    </span>
                </div>

            </td>
            <td><a th:href="@{/books/edit/{id}(id=${aBook.id})}"> <button type="submit" class="btn btn-default"><i class="fas fa-edit fa-lg" style="font-family: 'FontAwesome'; font-weight: normal; color:purple"></i></button></a></td>
            <td><a th:href="@{/books/delete/{id}(id=${aBook.id})}">
                <button type="submit" class="btn btn-default"><i class="fas fa-trash fa-lg" style="font-family: 'FontAwesome'; font-weight: normal; color:gray"></i></button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>


</div>
<!--<script type="text/javascript" th:src="@{/js/stars.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/picture.js}"></script>-->
</div>
</body>